<div class="sandbox sandbox-correct-pronounciation">
    <h1 class="heading heading-correct-pronounciation">
        Los
        <em>Especiales</em>
        de Hoy
    </h1>
</div>
<!-- Features -->
<div id="features-wrapper">
    <div class="container">

        <div class="row">

            <div class="4u 12u(medium)">
                
                <!-- Box -->
                <section class="box feature">
                    <a href="#" class="image featured"><img src="../../../assets/images/bar/1-bar.jpg" alt="" /></a>
                    <div class="inner">
                        <header>
                            <h2>Filete de Pollo</h2>
                            <p>El mejor filete de pollo</p>
                        </header>
                        <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p>
                    </div>
                </section>

            </div>
            <div class="4u 12u(medium)">

                <!-- Box -->
                <section class="box feature">
                    <a href="#" class="image featured"><img src="../../../assets/images/bar/2-bar.jpg" alt="" /></a>
                    <div class="inner">
                        <header>
                            <h2>Higado de oveja</h2>
                            <p>La oveja es de santomera</p>
                        </header>
                        <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p>
                    </div>
                </section>

            </div>
            <div class="4u 12u(medium)">

                <!-- Box -->
                <section class="box feature">
                    <a href="#" class="image featured"><img src="../../../assets/images/bar/3-bar.jpg" alt="" /></a>
                    <div class="inner">
                        <header>
                            <h2>Pavo relleno</h2>
                            <p>Te relleno lo que quieras</p>
                        </header>
                        <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>