<!--  MENU SECUNDARIO !-->
<div class="container">
  <nav *ngIf="!rerender">
    <input type="checkbox" id="css-toggle-menu" name="css-toggle-menu">
    <ul class="main">
      <li (click)="moveToIndex()">Inicio</li>
      <li (click)="moveToNuestros()">Nuestros Productos</li>
      <li (click)="goContact()">Contacto</li>
      <li (click)="moveToWhatsapp()">Whatsapp</li>
      <li (click)="moveToBuscador()">Buscador</li>
    </ul>
    <label for="css-toggle-menu" id="css-toggle-menu"></label>
  </nav>
  <div class="tutorial">
    <ul>
      <li (click)="moveToIndex()" class="nav-enlaces">Inicio</li>
      <li  class="nav-enlaces">
        Nuestros Productos <i class="fa fa-angle-down"></i>
        <ul>
          <li *ngFor="let choice of prods" (click)="selectProducto(choice)">{{choice.nombre}}<img src="{{choice.imagen.url}}" /></li>
        </ul>
      </li>
      <li  class="nav-enlaces">
        Oferta Especial <i class="fa fa-angle-down" *ngFor="let nom of nombres"></i>
        <ul>
          <li>Oferta1<span>1€</span></li>
          <li>Oferta2<span>20€</span></li>
          <li>Oferta3<span>30€</span></li>
        </ul>
      </li>
      <li (click)="goContact()" class="nav-enlaces">Contacto</li>
      <li></li>
      <li class="iconados"><a class="fa fa-search"></a><!-->input type="text" name="search" placeholder="Buscar"-->
        <ng2-completer [(ngModel)]="searchStr" [datasource]="dataService" [minSearchLength]="0" placeholder="Buscar" name="search" type="text" class="completer-input" (click)="cargarBuscador($event)"  (selected)="getCatalogoPorProducto($event)"></ng2-completer>
      <!-- Search Filled icon by Icons8 -->
       </li>
      <li class="iconados" (click)="moveToWhatsapp()"><a class="fa fa-whatsapp" href="#"></a>Llámanos</li>
    </ul>
    <div class="slider"></div>
    <div class="information">
      <p>A simple, clean looking dropdown menu effect achieved using pure CSS. Simple functionality, method can be extended to create a secondary dropdown block with few edits.</p>
    </div>
  </div>
</div>
